<div class="row">
    <div class="col-8" >
        <div class="posts-list" *ngIf="posts$ | ngrxPush as posts;else loader">
            <app-post *ngFor="let post of posts; trackBy: trackByFn" [post]="post" class="my-2">
                    <a [routerLink]="['r/', post.subName]" class="py-1 pr-1 sub">r/{{post.subName}}</a>
                    <a [routerLink]="['/u', post.username]" class="p-1 ms-2 username">{{post.username}}</a>
                    <a [routerLink]="[post.url]" class="p-1 ms-2 text-muted date">{{post.createdAt | dateAgo}}</a>
                    <button class="ms-auto btn btn-primary btn-sm">Подписаться</button>
            </app-post>
        </div>
    </div>
    <div class="my-2 col-4">
        <app-sidebar>
            <app-top-subs slotStart></app-top-subs>
            <div class="card" slotMid >
                <div class="card-body">
                        <app-create-post-button></app-create-post-button>
                        <app-create-sub-form></app-create-sub-form>
                </div>
            </div>    
        </app-sidebar>
    </div>
 
</div>
    

<ng-template #loader>
    <app-loader class="loader col-8"></app-loader>
</ng-template>
