

.sub,.username, .date, button {
    font-weight: 500;
}
.sub-avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    border: 4px solid #fff;
}
a {
    text-decoration: none;
    color: unset;
}
.button-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    border:none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    box-shadow: rgba(255, 255, 255, 0.02) 0px 0px 0px 1px inset;
}
