<div class="row">
    <div class="col-8" *ngIf="posts$ | async as posts; else loader" >
        <div class="posts-list">
            <app-post *ngFor="let post of posts; trackBy: trackByFn" [post]="post" class="my-2">
                    <a [routerLink]="['a/', post.subName]" class="py-1 pr-1 sub">a/{{post.subName}}</a>
                    <a [routerLink]="['/u', post.username]" class="p-1 ms-2 username">{{post.username}}</a>
                    <a [routerLink]="[post.url]" class="p-1 ms-2 text-muted date">{{post.createdAt | dateAgo}}</a>
                    <button class="ms-auto btn btn-primary btn-sm">Подписаться</button>
            </app-post>
        </div>
    </div>
    <div class="my-2 col-4">
        <app-sidebar>
            <app-top-subs slotStart></app-top-subs>
            <app-sidebar-buttons slotButtons></app-sidebar-buttons>
        </app-sidebar>
    </div>
</div>
    

<ng-template #loader>
    <app-loader class="loader col-8"></app-loader>
</ng-template>