.sub {
  &-content {
    padding: 0 1.25rem 1.25rem 1.25rem;
  }
  &-header {
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    grid-template-rows: 75px;
  }
  &-controls {
    grid-column: 1/4;
  }
  &-heading {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
    &__title {
      font-size: 1.125rem;
      font-weight: 700;
      overflow: hidden;
    }
    &__name {
      font-size: 0.75rem;
      font-weight: 500;
      color: #7c7c7c;
      padding-left: 2px;
    }
  }

  button {
    font-weight: bold;
  }
  &-bg {
    position: relative;
  }
}

.avatar {
  border: 4px solid #fff;
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  top: -15px;
  &-edit {
    cursor: pointer;
    opacity: 0.6;
    background: black;
  }
  &-wrapper {
    width: 75px;
    height: 75px;
    position: relative;
  }
}

.username,
.date {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: unset;
}

.banner {
  height: 16rem;
  background-position: center;
  background-size: cover;
  &-default {
    background-color: slateblue;
  }
  &-edit-btn {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}

@media screen and (min-width: 480px) {
  .sub-heading__title {
    font-size: 2rem;
  }
  .sub-heading__name {
    font-size: 1rem;
  }
  .sub-controls {
    grid-column: 3/4;
  }
}
