@if (sub$ | ngrxPush; as sub) {
<div class="sub-wrapper">
  <div class="card sub">
    <div class="sub-bg">
      @if (sub.bannerUrl) {
      <div
        class="banner"
        [ngStyle]="{ 'background-image': 'url(' + sub.bannerUrl + ')' }"></div>
      } @else {
      <div class="banner banner-default"></div>
      } @if(sub.isSubOwner){
      <button
        type="button"
        (click)="openEditModal(sub)"
        class="btn btn-sm btn-secondary rounded-circle banner-edit-btn">
        <fa-icon
          [icon]="faPen"
          size="md"></fa-icon>
      </button>
      }
    </div>
    <div class="sub-content">
      <div class="sub-header">
        <div
          class="avatar-wrapper"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()">
          <div
            class="avatar"
            [ngStyle]="{
              'background-image': 'url(' + sub.imageUrl + ')'
            }"></div>
          @if(sub.isSubOwner && isFocused) {
          <div
            class="avatar avatar-edit d-flex align-items-center justify-content-center"
            (click)="openEditModal(sub)">
            <fa-icon
              [icon]="faPen"
              size="md"></fa-icon>
          </div>
          }
        </div>
        <div class="ms-1 mt-1 ms-md-2 sub-heading">
          <span class="sub-heading__title">{{ sub.name }}</span>
          <span class="sub-heading__name">r/{{ sub.name }}</span>
        </div>
        <div class="ms-md-auto sub-controls d-flex">
          <app-subscribe-button
            class="align-self-center"
            [subscriptionStatus]="sub.subscriptionStatus"
            [subName]="sub.name"
            (subscribeEvent)="subscribeToSub($event)"
            (unsubscribeEvent)="unsubscribeSub($event)"></app-subscribe-button>
          @if(sub.isSubOwner){
          <app-subpage-dropdown
            [sub]="sub"
            class="align-self-center"></app-subpage-dropdown>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="posts-list">
        @if(posts$ | ngrxPush; as posts){ @for (post of posts; track
        trackByFn($index, post)) {
        <app-post
          [post]="post"
          class="my-2">
          <a
            [routerLink]="['/user/', post.username]"
            class="py-1 pr-1 username">
            {{ post.username }}
          </a>
          <a
            [routerLink]="[post.url]"
            class="p-1 ml-2 text-muted date">
            {{ post.createdAt | dateAgo }}
          </a>
          @if(post.isPostOwner){
          <app-post-dropdown
            class="ms-auto"
            [post]="post"></app-post-dropdown>
          }
        </app-post>
        } }
      </div>
    </div>
    <div class="d-none d-md-block col-4 my-2">
      <app-sidebar>
        <app-sub-info slotStart></app-sub-info>
      </app-sidebar>
    </div>
  </div>
</div>
} @else {
<app-loader class="loader"></app-loader>
}

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
