.sub{
   &-content {
       padding: 0 1.25rem 1.25rem 1.25rem;
   }
    &-header{
        position: relative;
    }
    &-heading {
        display: flex;
        align-items: center;
    }
    &-title {
        padding-left: 6rem;
        font-size: 2rem;
        font-weight: bold;
    }
    &-description {
        font-size: 1rem;
    }

    button {
        font-weight: bold;
    }
    &-avatar {
       border: 4px solid #fff;
        position: absolute;
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-size: cover;
        top: -20px;
    }
}

.username, .date {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #212529;
}

.banner {
    height: 16rem;
    background-position: center;
    background-size: cover;   
    &-default {
        background-color: slateblue;
    }
}

