.users {
    display: flex;

    .all {
        flex: auto;
    }
    .online {
        flex: auto;
    }
}
.number {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
.type {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

button {
    font-weight: 500;
}