@if (sub$ | ngrxPush; as sub) {
  <div
    class="card">
    <div class="card-header">О сообществе</div>
    <div class="card-body">
      <div class="sub-desc">
        {{ sub.description }}
      </div>
      <div class="users mt-2">
        <div class="all">
          <div class="number">{{sub.subscribersCount}}</div>
          <div class="type">Участников</div>
        </div>
        <div class="online">
          <div class="number">0</div>
          <div class="type">Online</div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="sub-date">
        <fa-icon
          [icon]="faBirthdayCake"
        class="mx-1"></fa-icon>
        создан {{ sub.createdAt | date : "mediumDate" }}
      </div>
    </div>
  </div>
} @else {
  <app-loader class="loader"></app-loader>
}

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
