@if (topSubs$ | ngrxPush; as topSubs) {
  <div>
    @if (topSubs.length > 0) {
      <div
        class="card">
        <div class="card-body">
          <ul class="list-group py-2">
            <h4 class="card-title">Топ сообщества</h4>
            @for (sub of topSubs; track trackByFn(i, sub); let i = $index) {
              <li
                class="list-group-item sub"
                >
                <span class="pe-2">{{ i + 1 }}</span>
                <div
                  class="mr-2 sub-avatar"
            [ngStyle]="{
              'background-image': 'url(' + sub.imageUrl + ')'
            }"></div>
                <a
                  (click)="goToSub(sub.name)"
                  class="sub-title">
                  r/{{ sub.name }}
                </a>
                <button class="ms-auto btn btn-primary btn-sm">Подписаться</button>
              </li>
            }
          </ul>
        </div>
      </div>
    }
  </div>
} @else {
  <app-loader class="loader"></app-loader>
}

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
