<form
  class="form"
  [formGroup]="postForm">
  <input
    type="text"
    formControlName="sub"
    placeholder="Выберите сообщество"
    class="form-control search-input" />

  <app-suggestions
    [subs]="suggestions$ | ngrxPush"
    (clickSub)="setSub($event)"></app-suggestions>
  <div class="card p-3 mt-2">
    <input
      type="text"
      formControlName="title"
      class="form-control my-2"
      placeholder="Заголовок" />
    @if(imgUrl){
      <div class="image-card">
        <img [src]="imgUrl"  class="card-img-top w-50 mx-auto d-block" />
        <fa-icon class="close-icon" (click)="cancelUpload()" [icon]="faXmark" size="lg"></fa-icon>
      </div>
    }@else {
      <button class="file-upload__button" (click)="fileInput.click()">Загрузить изображение</button>
    }
   
    <input type="file" accept="image/png" (change)="onFileSelected($event)" class="file-upload__input" #fileInput
       />
    <quill-editor
      [styles]="{ 'min-height': '320px' }"
      [placeholder]="'Текст'"
      [modules]="quilConfig"
      formControlName="body"></quill-editor>
    <button
      type="submit"
      class="ms-auto my-2 w-25 btn btn-primary rounded-pill"
      (click)="createPost()">
      Создать
    </button>
  </div>
</form>
