<form class="form" [formGroup]="postForm" (ngSubmit)="createPost()" >
  <h3>Новый пост</h3>
  <input type="text" formControlName="sub" placeholder="Выберите сообщество" class="form-control" >

  <!-- <ul *ngIf="subs$ | async as subs" class="list-group">
    <li *ngFor="let sub of subs; trackBy:trackBy" class="list-group-item">
      {{sub.name}}
    </li>
  </ul> -->
  <input type="text" formControlName="title" class="form-control"  placeholder="Заголовок">
  <quill-editor
  [styles]="{'min-height': '320px'}" 
  [modules]="quilConfig">
  </quill-editor>
  <button type="submit" class="btn btn-primary">Создать</button>
</form>