.main {
  margin-top: 70px;
  display: flex;
}
.right-sidebar {
  position: fixed;
  width: 200px;
  height: 100vh;
}
.sidebar-mobile {
  display: flex;
  width: 100%;
  left: -100vw;
  position: fixed;
  z-index: 1;
  top: 63px;
  height: 100vh;
  transition: left 0.3s ease;
  background-color: transparent;
}
.sidebar-mobile.visible {
  left: 0;
}
.sidebar-backdrop {
  width: 100%;
}
