.main{
    margin-top: 70px;
    display: flex;
}
.right-sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
}
.sidebar-mobile {
    width: 300px;
    left: -300px;
    position: fixed;
    z-index: 1;
    top: 63px;
    height: 100vh;
    transition: left 0.3s ease;
}
.sidebar-mobile.visible {
      left: 0;
 }

