<app-navbar></app-navbar>
<div class="main">
  <!-- Прячем сайдбар если мы на странице Логин или регистарции -->
  @if(showSidebar){
  <div
    [class.visible]="sidebarService.isVisible()"
    class="d-md-none sidebar-mobile">
    <app-sidebar-left></app-sidebar-left>
    <div
      (click)="closeSideNav()"
      class="sidebar-backdrop"></div>
  </div>
  <div class="d-none d-md-block ps-4">
    <app-sidebar-left></app-sidebar-left>
  </div>
  }

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
