<form [formGroup]="subForm" (ngSubmit)="createSub()">
    <div class="mb-3">
      <label for="title" class="form-label">Название</label>
      <input type="text" formControlName="name" class="form-control" id="title" >
    </div>
    <div class="mb-3">
      <label for="title" class="form-label">Название</label>
      <input type="text" formControlName="title" class="form-control" id="title" >
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Описание</label>
      <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-secondary">Отмена</button>
    <button type="submit" class="btn btn-primary">Создать</button>
  </form>