<div class="modal-header">
  <h4 class="modal-title">Удаление поста</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <p>
    <strong>
      Вы уверены что хотите удалить пост
      <span class="text-primary">{{ post.title }}</span>
      ?
    </strong>
  </p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-secondary"
    (click)="activeModal.dismiss('cancel click')">
    Отмена
  </button>
  <button
    type="button"
    class="btn btn-danger"
    (click)="delete()">
    Удалить
  </button>
</div>
