.list-group-item {
  cursor: pointer;
}

.sub {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
}
