.list-group-item {
  cursor: pointer;
  display: flex;
  .icon {
    width: 35px;
    flex: 0 0 auto;
  }
  span {
    flex: 1 1 auto;
  }
}

.sub {
  display: flex;
  align-items: center;
  cursor: pointer;

  &-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }
}
.sidebar-left {
  width: 250px;
  height: 100vh;
}
