<div class="sidebar-left p-3 bg-body">
  <div class="list-group border-0">
    <a
      routerLink=""
      routerLinkActive="active"
      aria-current="true"
      class="px-0 fw-semibold border-0 rounded-2 list-group-item list-group-item-action">
      <fa-icon
        class="px-1 icon"
        [icon]="faHome"
        size="lg"></fa-icon>
      <span>Лента</span>
    </a>
    <a
      routerLinkActive="active"
      routerLink="/popular"
      class="px-0 fw-semibold border-0 rounded-2 list-group-item list-group-item-action">
      <fa-icon
        class="px-1 icon"
        [icon]="faFire"
        size="lg"></fa-icon>
      <span>Популярное</span>
    </a>
    <a
      routerLinkActive="active"
      routerLink="/subs"
      class="px-0 fw-semibold border-0 rounded-2 list-group-item list-group-item-action">
      <fa-icon
        class="px-1 icon"
        [icon]="faTable"
        size="lg"></fa-icon>
      <span>Сообщества</span>
    </a>
    <a
      routerLinkActive="active"
      routerLink="/all"
      class="px-0 fw-semibold border-0 rounded-2 list-group-item list-group-item-action">
      <fa-icon
        class="px-1 icon"
        [icon]="faChartBar"
        size="lg"></fa-icon>
      <span>Все</span>
    </a>
  </div>

  <div class="list-group border-top rounded-0 mt-2">
    @if(userinfo$ | ngrxPush; as userinfo){
    <h4 class="mt-2">Мои сообщества</h4>
    <app-create-sub-form></app-create-sub-form>
    @for(sub of userinfo.subscriptions; track trackByFn($index, sub)){
    <a
      (click)="goToSub(sub.name)"
      class="sub d-flex align-items-center border-0 rounded-2 px-0 list-group-item list-group-item-action">
      <div
        class="mx-2 sub-avatar"
        [ngStyle]="{ 'background-image': 'url(' + sub.imageUrl + ')' }"></div>
      <span class="sub-title fw-semibold">r/{{ sub.name }}</span>
    </a>
    }}
  </div>
</div>
