.comment__header {
    cursor: pointer;
    display: flex;
        & > *{
            font-weight: 500;
            
        } 
        .username {
            font-weight: 500;
        }
        a {
            color: #212529;
            text-decoration: none;
        }
}

.comment__footer{
    color: #6c757d;
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.book {
    &:hover{
        color: #346eb8;
    }
}

.reply {
    display:flex;
    align-items: baseline;
    &-icon {
        padding: 2px 0;      
    }
    
    span {
        margin-left: 8px;
        font-size: .8rem;
    }
    &:hover{
        color: #346eb8;
    }
}

.votes {
    display: flex;
    span {
        margin: 0 5px;
    }
    .thumb-up:hover{
        color: #346eb8;
    }
    .thumb-down {
        padding: 4px 0;

    &:hover {
        color: #dc3545;
        }
    }
}