<div class="comment">
  <div class="comment__header">
    <div class="avatar"></div>
    <a
      [routerLink]="['/u', comment.username]"
      class="py-1 pr-1 username">
      {{ comment.username }}
    </a>
    <a
      [routerLink]="[post.url]"
      class="p-1 ms-2 text-muted date">
      {{ comment.createdAt | dateAgo }}
    </a>
  </div>

  <!-- edit form -->
  @if(!hideEditForm){
  <app-edit-form
    [body]="comment.body"
    [identifier]="comment.identifier"
    (closeEditForm)="onCloseEditForm()"></app-edit-form>
  }@else {
  <div class="mt-1 comment__body">
    {{ comment.body }}
  </div>
  }

  <div class="mt-2 comment__footer">
    <button
      class="btn btn-sm reply"
      (click)="onToggleReplyForm(true)">
      <fa-icon
        [icon]="faCommentAlt"
        class="reply-icon"></fa-icon>
      <span class="ms-2">Ответить</span>
    </button>
    <div class="ms-3 book">
      <fa-icon [icon]="faBookmark"></fa-icon>
    </div>
    @if(comment.isCommentOwner){
    <app-comment-dropdown
      [identifier]="comment.identifier"
      (openEditForm)="onOpenEditForm()"></app-comment-dropdown>
    }
    <div class="ms-auto votes">
      <fa-icon
        [icon]="faThumbsUp"
        class="mx-1 thumb-up"
        (click)="onVoteComment(1)"
        [ngClass]="comment.userVote === 1 ? 'text-success' : ''"></fa-icon>
      <span class="text-success">{{ comment.voteScore }}</span>
      <fa-icon
        [icon]="faThumbsDown"
        class="mx-1 thumb-down"
        (click)="onVoteComment(-1)"
        [ngClass]="comment.userVote === -1 ? 'text-danger' : ''"></fa-icon>
    </div>
  </div>
  <!-- reply form -->
  @if(toggleReplyFormStatus){
  <app-reply-form
    [commentId]="comment.id"
    (onFormClose)="onToggleReplyForm($event)"></app-reply-form>
  }

  <!-- comments tree -->
  @if(comment.children?.length > 0){
  <ul class="comment-tree">
    @for (subComment of comment.children; track subComment.id){
    <li>
      <app-comment
        [comment]="subComment"
        [post]="post"></app-comment>
    </li>

    }
  </ul>
  }
</div>
