@if (post$ | ngrxPush; as post) {
  <div
    class="row"
    >
    <div class="my-2 col-8">
      <div class="card post-page">
        <div class="card-body">
          <div class="post-page__header">
            <div class="avatar"></div>
            <a
              [routerLink]="['/u', post.username]"
              class="py-1 pr-1 username">
              {{ post.username }}
            </a>
            <a
              [routerLink]="[post.url]"
              class="p-1 ms-2 text-muted date">
              {{ post.createdAt | dateAgo }}
            </a>
          </div>
          <h3 class="post-page__title">{{ post.title }}</h3>
          <div class="mt-2 post-page__body">
            <p [innerHtml]="post.body"></p>
          </div>
          <app-post-footer
            [post]="post"
          (vote)="onVotePost($event)"></app-post-footer>
          <hr />
          <app-comment-form
          (commentEvent)="sendComment($event)"></app-comment-form>
          @if (comments$ | ngrxPush; as comments) {
            <div
              class="comments-list"
              >
              @for (comment of comments; track trackByFn($index, comment)) {
                <app-comment
                  [comment]="comment"
                  (vote)="onVoteComment($event)"
                [post]="post"></app-comment>
              }
            </div>
          } @else {
            <app-loader class="loader"></app-loader>
          }
        </div>
      </div>
    </div>
    <div class="my-2 col-4">
      <app-sidebar>
        <app-sub-info slotStart></app-sub-info>
        <app-top-subs slotEnd></app-top-subs>
      </app-sidebar>
    </div>
  </div>
} @else {
  <app-loader class="loader"></app-loader>
}

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
