@if (post$ | ngrxPush; as post) {
  <div
    class="row"
    >
    <div class="my-2 col-8">
      <div class="card post-page">
        <div class="card-body">
          <div class="post-page__header d-flex align-items-center">
            <div
            class="sub-avatar"
            [ngStyle]="{
              'background-image': 'url(' + post.sub.imageUrl + ')'
            }"></div>
            <div class="d-flex flex-column  ms-2">
              <a (click)="goToSub()" class="sub">
                r/{{ post.subName }}
              </a>
              <a
                [routerLink]="['/u', post.username]"
                class="username text-muted ">
                {{ post.username }}
              </a>
            </div>
            <span
              class="ms-2 text-muted date align-self-start">
              {{ post.createdAt | dateAgo }}
          </span>
          </div>
          <h3 class="post-page__title">{{ post.title }}</h3>
          <div class="mt-2 post-page__body">
            <p [innerHtml]="post.body"></p>
          </div>
          <app-post-footer
            [post]="post"
          (vote)="onVotePost($event)"></app-post-footer>
          <hr />
          <app-comment-form
          (commentEvent)="sendComment($event)"></app-comment-form>
          @if (comments$ | ngrxPush; as comments) {
            <div
              class="comments-list"
              >
              @for (comment of comments; track trackByFn($index, comment)) {
                <app-comment
                  [comment]="comment"
                  (vote)="onVoteComment($event)"
                [post]="post"></app-comment>
              }
            </div>
          } @else {
            <app-loader class="loader"></app-loader>
          }
        </div>
      </div>
    </div>
    <div class="my-2 col-4">
      <app-sidebar>
        <app-sub-info slotStart></app-sub-info>
        <app-top-subs slotEnd></app-top-subs>
      </app-sidebar>
    </div>
  </div>
} @else {
  <app-loader class="loader"></app-loader>
}

<ng-template #loader>
  <app-loader class="loader"></app-loader>
</ng-template>
