<nav class="navbar fixed-top navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Reddit</a>
    
            <div class="ms-auto">
                    <button *ngIf="isloggedIn(); else logout"  class="btn btn-primary rounded-pill mx-2" (click)="logOut()" >Выйти</button>
                  
            </div>
    </div>
  </nav>

  <ng-template #logout>
        <a routerLink="/login" class="btn btn-primary rounded-pill mx-2" role="button" routerLinkActive="active">Войти</a>
        <a routerLink="/register" class="btn btn-primary rounded-pill mx-2" role="button" routerLinkActive="active">Регистрация</a>
  </ng-template>
