
<div ngbDropdown class="d-inline-block">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        Toggle dropdown
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem><a  routerLink="/userpage" class="dropdown-item" href="#"><fa-icon [icon]="faUser" size="lg"></fa-icon></a></button>
        <button ngbDropdownItem>Настройки</button>
        <button ngbDropdownItem>Выйти</button>
    </div>
</div>