<div
  ngbDropdown
  class="d-inline-block">
  <button
    type="button"
    class="btn btn-link p-0"
    id="dropdownBasic1"
    ngbDropdownToggle>
    <img
      class="user-image"
      [src]="userImageUrl" />
  </button>
  <div
    ngbDropdownMenu
    class="dropdown-content"
    aria-labelledby="dropdownBasic1">
    <button
      ngbDropdownItem
      (click)="navigateToProfilePage()"
      class="dropdown-btn">
      <fa-icon
        [icon]="faUser"
        size="lg"></fa-icon>
      <span class="ms-2">Профиль</span>
    </button>
    <button
      ngbDropdownItem
      routerLink="/settings"
      class="dropdown-btn">
      <fa-icon
        [icon]="faCog"
        size="lg"></fa-icon>
      <span class="ms-2">Настройки</span>
    </button>
    <button
      ngbDropdownItem
      class="dropdown-btn"
      (click)="toggleTheme()">
      <fa-icon
        [icon]="faMoon"
        size="lg"></fa-icon>
      <span class="ms-2">Dark mode</span>
    </button>
    <button
      (click)="logOut()"
      ngbDropdownItem
      class="dropdown-btn">
      <fa-icon
        [icon]="faArrowRight"
        size="lg"></fa-icon>
      <span class="ms-2">Выйти</span>
    </button>
  </div>
</div>
