:host {
  display: block;
}
.img-wrapper {
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  border-radius: 10px;
  /* The key property for blurring the background behind this element */
  backdrop-filter: blur(10px); /* Adjust blur strength as needed */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  color: white; /* For content visibility on a blurred background */
  text-align: center;
}
.card-img {
  max-height: 450px;
  object-fit: contain;
}
.post {
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  &-header {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    & > * {
      font-weight: 500;
    }
    .username {
      font-weight: 500;
    }
  }
  a {
    color: unset;
    text-decoration: none;
  }
}

@media screen and (min-width: 480px) {
  .post-header {
    font-size: 1rem;
  }
}
