:host{
    display: block;
}
.post {
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    &-header {
        display: flex;
        & > *{
            font-weight: 500;
            
        } 
        .username {
            font-weight: 500;
        }
    }
    a {
        color: unset;
        text-decoration: none;
    }
}

