<div class="card post">
  <div class="card-body">
    <div class="post-header">
      <ng-content></ng-content>
    </div>
    <h4
      [routerLink]="[post.url]"
      class="card-title">
      {{ post.title }}
    </h4>
    <a
      class="post-body"
      [routerLink]="[post.url]">
      @if(post.postImageUrl) {
      <figure class="img-wrapper">
        <img
          [src]="post.postImageUrl"
          class="card-img mx-auto d-block" />
      </figure>
      }@else {
      <p
        class="card-text"
        [innerHtml]="post.body | truncateHtml : 300"></p>

      }
    </a>

    <app-post-footer
      (vote)="onVotePost($event)"
      [post]="post"></app-post-footer>
  </div>
</div>
