@if({userinfo:userinfo$ | async, submissions:submissions$ | async}; as state){
@if (state.userinfo && state.submissions) {
<div class="row">
  <div class="col-md-8">
    <!-- userinfo -->
    <app-user-profile
      [username]="state.userinfo.username"
      [userImageUrl]="state.userinfo.userImageUrl"></app-user-profile>
    <app-submission
      (filterSubmissions)="handleFilterChange($event)"
      [submissions]="state.submissions.submissions"
      [activeFilter]="state.submissions.filter"></app-submission>
  </div>
  <div class="d-none d-md-block col-4 my-2">
    <app-sidebar>
      <app-user-info
        [userinfo]="state.userinfo"
        [submissionsCount]="state.submissions.submissionsCount"
        slotStart></app-user-info>
    </app-sidebar>
  </div>
</div>
}@else {
<!-- Индикатор загрузки -->
<app-loader></app-loader>
} }
